* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: rgb(157, 157, 213);
    margin-bottom: 10px;
}

#Form-Validation {
    border: 1px solid rgb(232, 199, 199);
    border-radius: 5px;
    width: 300px;
    height: 450px;
    margin: auto;
    display: grid;  
    padding: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    input {
        height: 30px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(46, 46, 40);
    }
    label {
        color: gray;
    }
    span {
        color: red;
    }
}
button {
    border-radius: 50px;
    border: 1px solid gray;
    font-size: 25px;
}